<!-- <h2>Posts <a class="small" href="#/admin/posts/new">new</a></h2>
<hr>
<div ng-include="'views/adminposts.html'"></div> -->

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/Staff.Net.Image.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Admin</h1>
                    <hr class="small">
                    <span class="subheading">View and Edit All Posts</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<div class="row">
	    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	      	<div ng-include="'views/adminposts.html'"></div>  
	    </div>
	</div>
</div>