<header class="intro-header" style="background-image: url('images/Staff.Net.Image.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <hr class="small">
                    <span class="subheading">Blog Engine by David Harrison</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Sorry to see you go</h3>
            <p>If you wish to resubscribe in the future, email <a href="mailto:blog@test.com?subject=Subscribe to Blog Updates">blog@test.com</a></p>
		</div>
	</div>
</div>